<<<<<<< HEAD
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --primary-white: #fff;
  --praimary: #1f2235;
  --praimary-alt: #23263a;
  --secendary: #50ee66;
  --secendary-alt: #ff4a57;
  --secendary-dark-alt: #a23a4a;
  --title-text: #a2a2a2;

  /* font */
  --default-font: sans-serif;
  --custom-font: "Lucida", sans-serif;
  --w-light: 300;
  --w-regular: 400;
  --w-semibold: 600;
  --w-bold: 700;
}

body {
  font-family: var(--default-font);
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: var(--praimary);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--secendary-alt);
  border-radius: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
main > section {
  padding: 80px 0;
  overflow: hidden;
}

/* Preload Start */
.loding {
  z-index: 9999;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #23263a;
  width: 100vw;
  display: grid;
  place-items: center;
}
.circle {
  border: 5px solid var(--praimary);
  border-radius: 50%;
  border-top: 5px solid var(--secendary-alt);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.9s linear infinite; /* Safari */
  animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Preload End */

/* Header */
.header {
  background-color: var(--praimary);
  padding: 1rem 0;
  transition: all 0.4s ease-out;
  position: sticky;
  top: 0;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0.5rem 0 !important;
  transition: all 0.4s ease-out;
}

.fixed .logo h2 {
  font-size: 2rem;
  transition: 0.4s;
}

.logo h2 {
  font-size: 2.5rem;
  font-weight: var(--w-bold);
  cursor: pointer;
  user-select: none;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-flex;
  background-color: var(--secendary-alt);
  border-radius: 50%;
  margin: 0 3px;
}

li {
  list-style: none;
}

ul li a {
  font-size: 1.1rem;
  padding: 0;
  color: #fff;
  transition: all 0.3s ease-in;
  font-weight: var(--w-semibold);
}

.fixed .navber-nav .nav-list .nav-link {
  font-size: 16px;
}

ul li a:hover,
.active {
  color: var(--secendary-alt);
  transition: all 0.3s ease;
}
.active {
  text-decoration: line-through;
}
.responsive-buttons {
  display: none;
}

.bars {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}
.open,
.close {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.block {
  width: 60% !important;
  transform: scale(1) !important;
  transform: translateX(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.5s ease-in;
}
/* banner */

.banner {
  background-color: var(--praimary-alt);
}

.banner-icons {
  display: flex;
}

.banner-icons a {
  width: 30px;
  height: 30px;
  border: 1px solid #a23a4a;
  border-radius: 50%;
}

.banner-icons a i {
  font-size: 14px;
}

.banner-icons a:hover {
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
  transition: all 0.3s ease;
}

.banner-desc h1 {
  font-size: 2.7rem;
  font-weight: var(--w-bold);
}

.banner-desc p {
  font-size: 16px;
  font-weight: var(--w-regular);
  color: var(--title-text);
  line-height: 28px;
}

.buttons a {
  border: 1px solid var(--secendary-dark-alt);
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 16px;
}

.buttons a:hover {
  transition: all 0.3s ease;
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
}

.buttons button {
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--secendary-alt);
}
.banner-img img {
  width: 350px;
  height: auto;
}

/* Service */

.service {
  background-color: var(--praimary);
}
.sec-title {
  position: relative;
}
.sec-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: var(--secendary-alt);
}
.sec-title small {
  color: var(--secendary-alt);
  font-family: var(--custom-font);
  font-weight: var(--w-semibold);
  font-size: 14px;
  display: block;
}

.sec-title h2 {
  font-family: var(--custom-font);
  font-weight: var(--w-semibold);
  font-size: 2.5rem;
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--secendary-alt),
    var(--secendary-alt)
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-title h2 span {
  position: absolute;
  top: -60px;
  left: 30px;
  transform: rotate3d(1, 1, 1, 355deg);
  font-size: 4rem;
  color: #bdbdbd12;
  letter-spacing: 1px;
  font-weight: var(--w-bold);
  user-select: none;
  pointer-events: none;
}

.sec-title p {
  font-family: var(--custom-font);
  font-weight: var(--w-regular);
  font-size: 15px;
  line-height: 28px;
  color: var(--title-text);
}

.card {
  background-color: var(--praimary-alt);
}

.card .card-icon i {
  color: var(--secendary-alt);
  font-size: 30px;
  display: block;
}

.card .card-disc p {
  font-size: 14px;
  line-height: 25px;
  color: var(--bs-secndary);
}

/* About Start  */
.about {
  background-color: var(--praimary-alt);
}

.about-img img {
  transform: rotateY(180deg);
  width: 270px;
  height: auto;
}

.about-desc h3 {
  font-family: var(--custom-font);
  font-weight: var(--w-bold);
}

.about-desc > p {
  font-size: 14px;
  line-height: 28px;
  font-family: var(--custom-font);
  font-weight: var(--w-regular);
  color: var(--title-text);
}

.about-info h6 {
  color: var(--secendary-alt);
  font-size: 17px;
  font-family: var(--custom-font);
  font-weight: var(--w-semibold);
}

.about-info > p {
  color: #d4d4d4;
  font-family: var(--custom-font);
  font-size: 16px;
  font-weight: var(--w-regular);
}
/* About End  */

/* Skill Start */
.skill {
  background-color: var(--praimary);
}

.skill-info {
  overflow: hidden;
}

.skill-meta .skill-disc {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--custom-font);
  line-height: 30px;
  color: #fff;
}

.skill-meta .skill-disc span {
  color: var(--secendary-alt);
  font-size: 21px;
  margin-left: 12px;
}
.skill-meta .range {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}
.skill-meta .range .rang {
  height: 7px;
}
.range .ui-rang1 {
  width: 50%;
  background-color: var(--secendary-dark-alt);
  border-radius: 4px;
}
.range .ui-rang2 {
  background: #d8d8d8;
  width: 25%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.range .web-dev-rang1 {
  width: 85%;
  background-color: var(--secendary-dark-alt);
  border-radius: 4px;
}
.range .web-dev-rang2 {
  background: #d8d8d8;
  width: 15%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.range .marketing-rang1 {
  width: 70%;
  background-color: var(--secendary-dark-alt);
  border-radius: 4px;
}
.range .marketing-rang2 {
  background: #d8d8d8;
  width: 35%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Skill End */

/* Portfoilo Start */
.portfolio {
  background-color: var(--praimary-alt);
}
.card {
  overflow: hidden;
}
.card-img {
  position: relative;
}
.card-body {
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(to bottom, #fc727b3d, #dc3545bd, #ff2333); */
  background-color: var(--praimary);
  transform: scaleY(0);
  transform-origin: bottom;
  color: var(--primary-white) !important;
}

.card:hover .card-body {
  transform: scaleY(1);
}
.card-body h4 {
  font-weight: 600;
}
/* Portfoilo End */

/* Blog Start */
.blog {
  background-color: var(--praimary);
}
/* Blog End */

/* Contact Start */
.contact {
  background-color: var(--praimary-alt);
}
form > div > .form-control {
  background-color: transparent;
  color: var(--primary-white) !important;
  font-size: 0.93rem;
  font-family: var(--default-font);
  padding: 0.75rem 1rem;
  outline: none;
  border: 1px solid var(--title-text);
  transition: all 0.3s ease-in;
  font-weight: var(--w-light);
  font-family: var(--custom-font);
}
form > div > .form-control::selection {
  background-color: var(--secendary-alt);
  color: var(--primary-white);
}
.form-control:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--secendary-alt);
}
.form-control::placeholder {
  font-size: 1rem;
}
form .textarea {
  height: 12rem;
  overflow-y: auto;
  word-wrap: wrap;
  resize: none;
}

form .textarea::-webkit-scrollbar {
  width: 0px;
}
.btn-success {
  background-color: var(--praimary);
  color: var(--primary-white);
  font-weight: var(--w-regular);
  font-size: 1rem;
  border: 1px solid var(--secendary-alt);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn-success:hover {
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
}
.btn-success:focus {
  box-shadow: none;
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
}
address* {
  display: flex;
  flex-wrap: wrap;
}
.address i,
.address a,
.address span {
  color: var(--title-text) !important;
}
.address span::selection {
  background-color: var(--secendary-alt);
  color: var(--primary-white);
}
.address a:hover {
  color: var(--secendary-alt) !important;
  transition: all 0.3s ease-in-out;
}
/* Contact End */

/* Footer Start */
.footer {
  background-color: var(--praimary);
}
.socoal-icons ul li a {
  width: 30px;
  height: 30px;
  display: grid;
  margin: 0 10px;
  place-items: center;
  border: 1px solid;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.socoal-icons ul li a:hover {
  background-color: var(--secendary-alt);
  border-color: var(--secendary-alt);
  color: #fff;
}
.socoal-icons ul li a i {
  transform: scale(0.7);
  font-weight: var(--w-light);
}

.scroll_to_top {
  position: fixed;
  right: 30px;
  bottom: 50px;

  transform: translateX(70px);
  transition: all 0.3s ease-in-out;

  visibility: hidden;
  opacity: 0;

  width: 30px;
  height: 30px;

  background-color: var(--secendary-alt);
  color: var(--primary-white);

  display: grid;
  place-items: center;

  border-radius: 50%;
  cursor: pointer;
}

.scroll_to_top a {
  color: var(--primary-white);
}

.scroll_to_top i {
  font-size: 1.5rem;
  display: block;
}

/* Footer End */
=======
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --primary-white: #fff;
  --praimary: #1f2235;
  --praimary-alt: #23263a;
  --secendary: #50ee66;
  --secendary-alt: #ff4a57;
  --secendary-dark-alt: #a23a4a;
  --title-text: #a2a2a2;

  /* font */
  --default-font: sans-serif;
  --custom-font: "Lucida", sans-serif;
  --w-light: 300;
  --w-regular: 400;
  --w-semibold: 600;
  --w-bold: 700;
}

body {
  font-family: var(--default-font);
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: var(--praimary);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--secendary-alt);
  border-radius: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
main > section {
  padding: 80px 0;
  overflow: hidden;
}

/* Preload Start */
.loding {
  z-index: 9999;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #23263a;
  width: 100vw;
  display: grid;
  place-items: center;
}
.circle {
  border: 5px solid var(--praimary);
  border-radius: 50%;
  border-top: 5px solid var(--secendary-alt);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.9s linear infinite; /* Safari */
  animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Preload End */

/* Header */
.header {
  background-color: var(--praimary);
  padding: 1rem 0;
  transition: all 0.4s ease-out;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0.5rem 0 !important;
  transition: all 0.4s ease-out;
}

.fixed .logo h2 {
  font-size: 2rem;
  transition: 0.4s;
}

.logo h2 {
  font-size: 2.5rem;
  font-weight: var(--w-bold);
  cursor: pointer;
  user-select: none;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-flex;
  background-color: var(--secendary-alt);
  border-radius: 50%;
  margin: 0 3px;
}

li {
  list-style: none;
}

ul li a {
  font-size: 1.1rem;
  padding: 0;
  color: #fff;
  transition: all 0.3s ease-in;
  font-weight: var(--w-semibold);
}

.fixed .navber-nav .nav-list .nav-link {
  font-size: 16px;
}

ul li a:hover,
.active {
  color: var(--secendary-alt);
  transition: all 0.3s ease;
}
.active {
  text-decoration: line-through;
}
.responsive-buttons {
  display: none;
}

.bars {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}
.open,
.close {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.block {
  width: 60% !important;
  transform: scale(1) !important;
  transform: translateX(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.5s ease-in;
}
/* banner */

.banner {
  background-color: var(--praimary-alt);
}

.banner-icons {
  display: flex;
}

.banner-icons a {
  width: 30px;
  height: 30px;
  border: 1px solid #a23a4a;
  border-radius: 50%;
}

.banner-icons a i {
  font-size: 14px;
}

.banner-icons a:hover {
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
  transition: all 0.3s ease;
}

.banner-desc h1 {
  font-size: 2.7rem;
  font-weight: var(--w-bold);
}

.banner-desc p {
  font-size: 16px;
  font-weight: var(--w-regular);
  color: var(--title-text);
  line-height: 28px;
}

.buttons a {
  border: 1px solid var(--secendary-dark-alt);
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 16px;
}

.buttons a:hover {
  transition: all 0.3s ease;
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
}

.buttons button {
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--secendary-alt);
}
.banner-img img {
  width: 350px;
  height: auto;
}

/* Service */

.service {
  background-color: var(--praimary);
}
.sec-title {
  position: relative;
}
.sec-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: var(--secendary-alt);
}
.sec-title small {
  color: var(--secendary-alt);
  font-family: var(--custom-font);
  font-weight: var(--w-semibold);
  font-size: 14px;
  display: block;
}

.sec-title h2 {
  font-family: var(--custom-font);
  font-weight: var(--w-semibold);
  font-size: 2.5rem;
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--secendary-alt),
    var(--secendary-alt)
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-title h2 span {
  position: absolute;
  top: -60px;
  left: 30px;
  transform: rotate3d(1, 1, 1, 355deg);
  font-size: 4rem;
  color: #bdbdbd12;
  letter-spacing: 1px;
  font-weight: var(--w-bold);
  user-select: none;
  pointer-events: none;
}

.sec-title p {
  font-family: var(--custom-font);
  font-weight: var(--w-regular);
  font-size: 15px;
  line-height: 28px;
  color: var(--title-text);
}

.card {
  background-color: var(--praimary-alt);
}

.card .card-icon i {
  color: var(--secendary-alt);
  font-size: 30px;
  display: block;
}

.card .card-disc p {
  font-size: 14px;
  line-height: 25px;
  color: var(--bs-secndary);
}

/* About Start  */
.about {
  background-color: var(--praimary-alt);
}

.about-img img {
  transform: rotateY(180deg);
  width: 270px;
  height: auto;
}

.about-desc h3 {
  font-family: var(--custom-font);
  font-weight: var(--w-bold);
}

.about-desc > p {
  font-size: 14px;
  line-height: 28px;
  font-family: var(--custom-font);
  font-weight: var(--w-regular);
  color: var(--title-text);
}

.about-info h6 {
  color: var(--secendary-alt);
  font-size: 17px;
  font-family: var(--custom-font);
  font-weight: var(--w-semibold);
}

.about-info > p {
  color: #d4d4d4;
  font-family: var(--custom-font);
  font-size: 16px;
  font-weight: var(--w-regular);
}
/* About End  */

/* Skill Start */
.skill {
  background-color: var(--praimary);
}

.skill-info {
  overflow: hidden;
}

.skill-meta .skill-disc {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--custom-font);
  line-height: 30px;
  color: #fff;
}

.skill-meta .skill-disc span {
  color: var(--secendary-alt);
  font-size: 21px;
  margin-left: 12px;
}
.skill-meta .range {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}
.skill-meta .range .rang {
  height: 7px;
}
.range .ui-rang1 {
  width: 75%;
  background-color: var(--secendary-dark-alt);
  border-radius: 4px;
}
.range .ui-rang2 {
  background: #d8d8d8;
  width: 25%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.range .web-dev-rang1 {
  width: 90%;
  background-color: var(--secendary-dark-alt);
  border-radius: 4px;
}
.range .web-dev-rang2 {
  background: #d8d8d8;
  width: 10%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.range .marketing-rang1 {
  width: 65%;
  background-color: var(--secendary-dark-alt);
  border-radius: 4px;
}
.range .marketing-rang2 {
  background: #d8d8d8;
  width: 35%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Skill End */

/* Portfoilo Start */
.portfolio {
  background-color: var(--praimary-alt);
}
.card {
  overflow: hidden;
}
.card-img {
  position: relative;
}
.card-body {
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(to bottom, #fc727b3d, #dc3545bd, #ff2333); */
  background-color: var(--praimary);
  transform: scaleY(0);
  transform-origin: bottom;
  color: var(--primary-white) !important;
}

.card:hover .card-body {
  transform: scaleY(1);
}
.card-body h4 {
  font-weight: 600;
}
/* Portfoilo End */

/* Blog Start */
.blog {
  background-color: var(--praimary);
}
/* Blog End */

/* Contact Start */
.contact {
  background-color: var(--praimary-alt);
}
form > div > .form-control {
  background-color: transparent;
  color: var(--primary-white) !important;
  font-size: 0.93rem;
  font-family: var(--default-font);
  padding: 0.75rem 1rem;
  outline: none;
  border: 1px solid var(--title-text);
  transition: all 0.3s ease-in;
  font-weight: var(--w-light);
  font-family: var(--custom-font);
}
form > div > .form-control::selection {
  background-color: var(--secendary-alt);
  color: var(--primary-white);
}
.form-control:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--secendary-alt);
}
.form-control::placeholder {
  font-size: 1rem;
}
form .textarea {
  height: 12rem;
  overflow-y: auto;
  word-wrap: wrap;
  resize: none;
}

form .textarea::-webkit-scrollbar {
  width: 0px;
}
.btn-success {
  background-color: var(--praimary);
  color: var(--primary-white);
  font-weight: var(--w-regular);
  font-size: 1rem;
  border: 1px solid var(--secendary-alt);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn-success:hover {
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
}
.btn-success:focus {
  box-shadow: none;
  background-color: var(--secendary-alt);
  border: 1px solid var(--secendary-alt);
}
address* {
  display: flex;
  flex-wrap: wrap;
}
.address i,
.address a,
.address span {
  color: var(--title-text) !important;
}
.address span::selection {
  background-color: var(--secendary-alt);
  color: var(--primary-white);
}
.address a:hover {
  color: var(--secendary-alt) !important;
  transition: all 0.3s ease-in-out;
}
/* Contact End */

/* Footer Start */
.footer {
  background-color: var(--praimary);
}
.socoal-icons ul li a {
  width: 30px;
  height: 30px;
  display: grid;
  margin: 0 10px;
  place-items: center;
  border: 1px solid;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.socoal-icons ul li a:hover {
  background-color: var(--secendary-alt);
  border-color: var(--secendary-alt);
  color: #fff;
}
.socoal-icons ul li a i {
  transform: scale(0.7);
  font-weight: var(--w-light);
}
/* Footer End */
>>>>>>> bd6384fdeb09f8c6e69fb5d053ca7ffb6c25da0b
